<div class="table-cell header {{if this.isSelected 'selected'}}" {{action @sortBooks @sortBy}}>
  {{@columnName}}
  {{#if this.isSelected}}
    {{#if @isReversed}}
      &uarr;
    {{else}}
      &darr;
    {{/if}}
  {{/if}}
</div>
