h1 {
  text-align: center;
}

.bulk-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.bulk-actions button {
  padding: 7px;
  margin: 3px;
}

button {
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #BBE;
  background-color: #EEF;
}

button:hover {
  background-color: #BBE;
  border-color: #000;
}

button:disabled {
  cursor: default;
}

button:disabled:hover {
  background-color: #EEF;
  border-color: #BBE;
}

.unclickable {
  cursor: default;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 0;
}
.navbar a {
  margin: 5px;
}

.container {
  margin: auto;
  max-width: 560px;
}

.book-display {
  display: flex;
}

.book-image {
  width: 30%;
}

.book-info {
  width: 70%;
  margin: 10px;
}

img {
  max-width: 100%;
}

/* from https://css-tricks.com/accessible-simple-responsive-tables/#article-header-id-5 */

/* Tables
================================== */
.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.table-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
}
.table-cell {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  flex-grow: 1;
  width: 100%; /* Default to full width */
  padding: 0.5em 1.2em;
  overflow: hidden; /* Or flex might break */
  list-style: none;
  border: solid 1px #AAA;
  background: white;
  font-size: 16px;
}

.table-cell.header {
  font-weight: bold;
  background-color: #DFDFDF;
}

.table-cell.header.selected {
  font-weight: bold;
  background-color: #DFDFDF;
  color: #000;
  background-color: #D0D0DF;
}

.table-row.zebra .table-cell {
  background-color: #EEE;
}

.table-row.selected .table-cell {
  background-color: #DDF;
  border-color: #555;
}

.table-row.zebra.selected .table-cell {
  background-color: #CCF;
}

.table-row button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px 5px;
}

/* Table column sizing
================================== */
.table--2cols > .table-row > .table-cell  { width: 50%; }
.table--3cols > .table-row > .table-cell  { width: 33.33%; }
.table--4cols > .table-row > .table-cell  { width: 25%; }
.table--5cols > .table-row > .table-cell  { width: 20%; }
.table--6cols > .table-row > .table-cell  { width: 16.6%; }
